<div class="mt-4">
    <div class="row">
        <div class="col-4">
            <div class="user-img">
                <img src="{{user.avatar}}" alt="">
            </div>
        </div>
        <div class="col-8">
            <div class="user-detail">
                <div class="user-name">{{user.name}}</div>
                <div class="user-decription">{{user.email}}</div>
            </div>
        </div>
    </div>
</div>
