
// Base css

* {
    box-sizing: inherit;
}

:root{
    --white-color: #FFF;
    --text-color: #6b6b6b;
    --black-color: #000;
    --primary-color: #3fd0d4;
    --header-height: 80px;
}

html {
    box-sizing: border-box;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.active-color{
    color: #3fd0d4 !important;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.text-color {
    color: var(--text-color) !important;
}

.transform-y-4{
    transform: translateY(-4px) !important;
}

@keyframes fadeIn {
    from {
         opacity: 0
    }
    to {
         opacity: 1; 
    }
}
@keyframes showNoti {
    from {
         opacity: 0;
         transform: scale(0);
    }
    to {
         opacity: 1; 
         transform: scale(1);
    }
}

// Header css

.header {
    height: 80px;
    width: 100%;
    background-color: var(--white-color);
}

.header-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.home-btn{
    text-decoration: none;
}

.header-img {
    height: 48px;
    width: auto;
}

.header-nav-bar {
    height: 100%;
}

.header-nav-bar-list {
    position: relative;
    list-style: none;
    padding-left: 0;
    display: flex;
    height: 100%;
    margin: 0;
    flex: 1;
    margin-right: auto;
}


.header-nav-bar-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header-nav-bar-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--black-color);
    font-weight: 600;
    padding: 0 37px;
}

.header-nav-bar-item-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}


.header-nav-bar-item:hover .header-item_subnav {
    display: block;
}

.header-item_subnav {
    position: absolute;
    background-color: var(--white-color);
    top: 100%;
    left: -280px;
    min-width: 900px;
    padding: 8px 0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    display:none;
    animation: showNoti ease 0.4s;
    will-change: opacity transform;
    padding-left: 20px;
    transform-origin: center;
    z-index: 99;
    border-radius: 3px;
}

.header-item_subnav-list {
    padding: 0;
}

.all-item {
    font-size: 16px;
    padding: 8px;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    transition-duration: 0.3s;
}
.all-item:hover {
    cursor: pointer;
    color: var(--primary-color)
}

/* header btn */


.header-btn-list {
    list-style: none;
    display: flex;  
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-left: auto;
}

.header-btn-item {
    padding: 28px 12px;
    font-size: 1.2rem;
    height: 100%;
    position:relative;
}
.header-btn-item a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
}

.img-user-avat-header {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.inline-display{
    display: inline;
}

.text-lg{
    font-size:1rem;
}


.header-btn a:hover {
    color: var(--primary-color);
}

/* cart empty */
.header_cart-item {
    top: 100%;
    right: 0;
    min-width: 400px;
    display: none;
    position: absolute;
    border-radius: 3px;
    text-align: center;
    background-color:var(--white-color);
    transform-origin: 90% top;
    animation: showNoti ease 0.4s;
    will-change: opacity transform;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3)
}

.header-btn-item:hover .header_cart-item{
    display: block;
    z-index: 999;
}



.header_cart-item-empty-img {
    width: 100%;
}

.header_cart-item-empty-title {
    font-size: 1.2rem;
    font-weight:300;
    color: var(--text-color);
    display: block;
    margin-bottom: 12px;
}

// has cart Item


.header-cart-heading{
    text-align: left;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    margin: 8px 0 8px 12px;
}

.header-cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
}

.header-cart-item{
    display: flex;
    align-items: center;
}

.header-cart-item:hover{
    background-color: #f8f9fa;
    cursor: pointer;
}

.header-cart-item-img {
    height: 42px;
    width: 42px;
    margin: 12px;
    border: 1px solid var(--text-color);
}

.header-cart-item-info {
    width: 100%;
    margin: 8px 0;
    padding-right: 12px;
}

.header-cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.header-cart-item-name {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    padding-right: 16px;
    flex: 1;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header-cart-item-price {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
}

.header-cart-item-multi {
    font-size: 0.5rem;
    color: #757575;
    padding: 0 4px;
}

.header-cart-item-qtt {
    color: #757575;
    font-size: 1.2rem;
}

.header-cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.header-cart-item-decrip {
    font-size: 1.2rem;
    color: #757575;
}

.header-cart-item-remove {
    font-size: 1.4rem;
}

.header-cart-item-remove:hover {
    color: var(--primary-color);
}

.header-cart-item-view{
    float: right;
    margin: 0 12px 12px 0;
}

/* search modal */

// Slide css

.slide {
    display: block;
    width: 100%;
    padding: 0;
}

.slide-wrap {
    position: relative;
    width: 100%;
    height: 448px;
    /* margin-top: var(--header-height); */
    // background-image: url(../img/Slide2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-header{
    font-size: 16px;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f8f9fa;
    border-radius: 6px;
}

.filter-product {
    align-items: center;
    color: #000;
    display: flex;
}



// Products css

.product-box{
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    text-align:left;
    margin-top:14px;
    background-color: #f8f9fa;
    box-sizing: border-box;
    border-radius: 2px;
}

.product-box:hover {
    box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
    transform: translateY(-2px);
}

.product-thumbnail{
    margin: 0 0 10px;
    overflow: hidden;
}

.product-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-info{
    text-align: center;
    z-index: 10;
    padding: 0 15px 20px;
    color: #42210b;
}

.product-name{
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 32px;
}

.price-box {
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    line-height: 23px;
}

// Footer css
.footer{
    border-top: 4px solid var(--primary-color);
    background-color: #2e2d2d;
    margin-top: 32px;
    width: 100%;
}

.footor-heading{
    font-size: 16px;
    margin: 16px 16px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-list{
    padding-left: 16px;
    list-style: none;
}

.footer-item-link{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding: 6px 0;
    display: block;
}

.footer-item-link:hover{
    color: #ccc;
}

.footer-down-app{
    display: flex;
}

.footer-app-down-qr{
    width: 80px;
    border: 1px solid #fff;
}

.footer-download-link{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 16px;
}

.footer-downlad-link-appstore{
    height: 20px;
    margin: 4px 0;
}

.footer-downlad-link-googleplay{
    height: 20px;
    margin: 4px 0;
}

.checkbox-all-options {
    width:160px;
    margin: 0 8px;
}

// auth form css

.main {
background: #f1f1f1;
min-height: 100vh;
display: flex;
justify-content: center;
}

.form {
width: 360px;
min-height: 100px;
padding: 32px 24px;
text-align: center;
background: #fff;
border-radius: 2px;
margin: 24px;
align-self: center;
box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
font-size: 2rem;
}

.form .desc {
text-align: center;
color: #636d77;
font-size: 1.6rem;
font-weight: lighter;
line-height: 2.4rem;
margin-top: 16px;
font-weight: 300;
}


.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,

.form-message {
text-align: left;
}


.form-label {
font-weight: 700;
padding-bottom: 6px;
line-height: 1.8rem;
font-size: 1.4rem;
}


.form-control {
height: 40px;
border: 1px solid #b3b3b3;
border-radius: 3px;
outline: none;
font-size: 1rem;
}


.form-control:hover {
border-color: #1dbfaf;
}


.form-group.invalid .form-control {
border-color: #f33a58;
}


.form-group.invalid .form-message {
color: #f33a58;
}


.form-message {
font-size: 1.2rem;
line-height: 1.6rem;
padding: 4px 0 0;
}


.form-submit {
outline: none;
background-color: #1dbfaf;
margin-top: 12px;
padding: 12px 16px;
font-weight: 600;
color: #fff;
border: none;
width: 100%;
font-size: 14px;
border-radius: 8px;
cursor: pointer;
}


.form-submit:hover {
background-color: #1ac7b6;
}


.spacer {
margin-top: 36px;
}

.me-store-img{
    width: 120px;
    height: auto;
}


// news css

.wrap {
    display: flex;
    justify-content:center;
}

.content {
    width: 60%;
    list-style: none;
}

.news-item {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    background-color: #f8f9fa;
    border-radius: 5px;
}

.user-ifor{
    display: flex;
    padding: 8px;
    justify-content: space-between;
}

.user-link {
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
}

.user-link:hover {
    color: var(--text-color);
}

.description {
    margin: 8px;
}

.user-avat {
    width: 48px;
    height: 48px;
    border-radius:50%;
    border: 1px solid #000;
}

// .news-content {

// }

.coments-description {
    border: none;
    width: 100%;
    height: min-content;
    outline:none;
    background-color: #fff;
}

.news-img {
    width: 100%;
    border: 1px solid rgb(243, 224, 224);
}

.news-comments {
    padding: 8px;
}

.coments-btn {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px;
}

.coments-btn-icon{
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
}

.coments-btn-icon:hover {
    text-decoration: none;
    background-color: rgb(237, 215, 215);
    border-radius: 5px;
    color: var(--text-color);
}

.coments-user-list {
    padding: 8px;
    list-style: none;
}

.coments-user-item {
    display: flex;
    margin-bottom: 8px;
}

.comment-submit-input {
    padding: 8px;
    border:none;
    border-radius:5px;
    outline: none;
    flex: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.coments-user-wrap {
    background-color: #fff;
    border-radius: 5px;
    padding: 4px 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    flex: 1;
}

.description-input {
    outline: none;
    padding: 0 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    flex: 1;
}

.news-form-input {
    width: 100%;
    outline: none;
    border:none;
    height: 90px;
    padding: 8px;
}

.news-form-input-file {
    padding: 8px;
    font-weight: 500;
    background-color: #fff;
}

// User show css



.user-img-show {
    width: 90%;
    height:auto;
    border-radius: 50%;
    border: 1px solid rgb(21, 18, 18);
    box-shadow: 0 0 2px rgba(0, 0, 0.1);
}

// show product css

.product-show-container {
    background-color: #f8f9fa;
    padding: 8px;
}

.product-detail {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
}

.show-product-img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    border: 1px solid rgb(21, 18, 18);
}

.product-infor-show,
.product-name-show {
    color: var(--text-color);
    padding: 8px 4px;
    border-bottom: 1px solid rgb(0,0,0, 0.3);
    margin: 0;
}

.qtt-input-product-show {
    margin: 16px 0;
    padding: 4px;
    width: 20%;
    outline: none;
    justify-content: center;
}