<div class="mt-4">
    <div class="row">
        <div class="col-4">
            <div class="product-img">
                <img src="{{product.img}}" alt="">
            </div>
        </div>
        <div class="col-8">
            <div class="product-detail">
                <div class="product-name">{{product.name}}</div>
                <div class="product-decription">{{product.decription}}</div>
            </div>
        </div>
    </div>
</div>
