

/* header css */

.header {
    height: 80px;
    width: 100%;
    background-color: var(--white-color);
}

.header-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    justify-content: space-around;
}

.home-btn{
    text-decoration: none;
}

.header-img {
    height: 48px;
    width: auto;
}

.header-nav-bar {
    height: 100%;
}

.header-nav-bar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    height: 100%;
    margin: 0;
    flex: 1;
    margin-right: auto;
}

.header-nav-bar-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header-nav-bar-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 600;
    padding: 0 37px;
}

.header-nav-bar-item-link:hover {
    color: var(--primary-color);
}

/* header btn */


.header-btn-list {
    list-style: none;
    display: flex;  
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.header-btn-item {
    padding: 28px 12px;
    font-size: 2rem;
    height: 100%;
    position:relative;
}
.header-btn-item a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
}


.header-btn a:hover {
    color: var(--primary-color);
}

/* cart empty */
.header_cart-item {
    top: 100%;
    right: 0;
    min-width: 240px;
    display: none;
    position: absolute;
    text-align: center;
    background-color:var(--white-color);
    transform-origin: 90% top;
    animation: showNoti ease 0.4s;
    will-change: opacity transform;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3)
}

.header-btn-item:hover .header_cart-item{
    display: block;
}



.header_cart-item-empty-img {
    width: 100%;
}

.header_cart-item-empty-title {
    font-size: 1.6rem;
    font-weight:300;
    color: var(--text-color);
    display: block;
    margin-bottom: 12px;
}


.header-btn-search{

}

.header-btn-addtion{

}

/* Home nav bar */

.header-nav-bar-item:hover .header-item_subnav {
    display: block;
}

.header-item_subnav {
    position: absolute;
    background-color: var(--white-color);
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 240px;
    padding: 8px 0;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    display:none;
    animation: showNoti ease 0.4s;
    will-change: opacity transform;
    transform-origin: top left;
    z-index: 99;
}

.all-item {
    font-size: 1.6rem;
    padding: 16px;
    text-transform: capitalize;
    transition-duration: 0.3s;
}
.all-item:hover {
    cursor: pointer;
    color: var(--primary-color)
}

/* search modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(63, 208, 212,0.7);
    display: flex;
}

.modal-body {
    height: 78px;
    width: 930px;
    display: flex;
    margin: auto;
}

.modal-body-input {
    height: 100%;
    width: 78%;
    padding: 0 20px;
    margin: auto;
    outline: none;
    border: none;
    font-size:1.6rem;
    font-weight:  600;
    color: var(--text-color);
    border-radius:2px;
    overflow: hidden;
    z-index: 999;
    transition-duration: 0.2s;
}

.modal-body-btn {
    flex:1;
    font-size:1.6rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    font-weight: 500;
    line-height: 78px;
    border-radius:2px;
    transition-duration: 0.2s;
}

.modal-body-btn:hover {
    background-color: var(--text-color);
    opacity: 0.4;
    cursor: pointer;
}

/* header map */

.header_map {
    width: 458px;
    top: 0;
    right: -28px;
    background-color: var(--white-color);
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    transform-origin: right;
    will-change: transform;
    animation: showNoti ease 0.4s;
    transition-duration: 0.3s;
    justify-content: center;
    border-radius: 2px;
    display:none;
}

.header-btn-item:hover .header_map{
    display: block;
}

.header_map-close {
    position: absolute;
    top:10px;
    right:15px;
    width: 38px;
    height: 38px;
    font-size: 1.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    line-height:38px;
    border-radius:50%;
    transition-duration: 0.3;
}

.header_map-close:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header_map-wrap {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
}   

.header_map-logo {
    width: 204px;
    height: 65px;
    margin: 80px 0 16px;
}

.header_map-desc-img {
    max-width: 100%;
    height:auto;
}

.header_map-img {
    max-width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    margin: 48px 0;
    transition-duration: 0.3s;
}

.header_map-img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.header_map-description {
    display: block;
    color: var(--text-color);
    text-align: center;
    margin: auto;
    font-weight: 500;
    font-size:1.6rem;
    width: 80%;
    cursor: text;
}   

.header_map-title {
    font-size: 2rem;
    font-weight: 500;
    width: 80%;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    display: block;
    padding: 48px 0;    
}

.header_map-search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: auto;
}

.header_map-input {
    width: 50%;
    outline: none;
    padding: 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color); 
    background-color: rgb(241, 241, 241);
    border: none;
}

.header_map-search-btn {
    width: 50px;
    height: 100%;
    background-color:var(--primary-color);
    text-align: center;
    color: var(--white-color);
    line-height:50px;
    border-radius: 2px;
}

.header_map-search-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header_map-social {
    width: 80%;
    margin: auto;
    padding-bottom: 48px;
}

.header_map-social-list {
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header_map-social-item {
    display: block;
    background-color: var(--primary-color);
    padding: 16px;
    box-shadow: 0 0 1px rgba(0, 0, 0,0.3);
    margin: 0 8px;
    border-radius:50%;
}

.header-btn-item .header_map-social-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.header_map-social-item:hover {
    cursor: pointer;
    opacity: 0.8;
}


/* SLIDE */

.container {
    width: 100%;
    display: block;
}

.slide {
    display: block;
    width: 100%;
    padding: 0;
}

.slide-wrap {
    position: relative;
    width: 100%;
    height: 448px;
    /* margin-top: var(--header-height); */
    background-image: url(../img/Slide2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb {
    margin: 0;
    font-size: 14px;
    border-radius: 0;
    padding: 10px 0 10px;
    margin-top: 10px;
    list-style: none;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #42210b;
    background-color: transparent;
}
.breadcrumb li {
    display: inline;
}

.breadcrumb li i {
    margin: 3px;
}

.home {

}
.home-link {
    color: #42210b;
    text-decoration: none;
}
.home-decription {

}

/* Product */

.product-box{
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    text-align:left;
    margin-top:14px;
    background-color: var(--white-color);
    box-sizing: border-box;
    border-radius: 2px;
}

.product-box:hover {
    box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
    transform: translateY(-2px);
}

.product-thumbnail{
    margin: 0 0 10px;
    overflow: hidden;
}

.product-img{
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.product-info{
    text-align: center;
    z-index: 10;
    padding: 0 15px 20px;
    color: #42210b;
}

.product-name{
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 32px;
}

.price-box {
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    line-height: 23px;
}

/* Pagination */
.pagination {
    margin-top: 16px;
    border-bottom: 1px solid #42210b;
    border-top: 1px solid #42210b;
}

.pagination-list{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    text-align: center;
}

.pagination-item{
    display: inline;
}

.pagination-link{
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid #CCC;
    text-decoration: none;
    color:#42210b;
    transition: 0.3s;
}

.pagination-link:hover{
    background-color: #42210b;
    color: #fff;
}

.pagination-active{
    background-color: #42210b;
    color: #fff;
}


/* Footer */

.footer{
    border-top: 4px solid var(--primary-color);
    background-color: #2e2d2d;
    margin-top: 32px;
    width: 100%;
}

.footor-heading{
    font-size: 1.6rem;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-list{
    padding-left: 0;
    list-style: none;
}

.footer-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    padding: 6px 0;
    display: block;
}

.footer-item-link:hover{
    color: var(--primary-color);
}

.footer-down-app{
    display: flex;
}

.footer-app-down-qr{
    width: 80px;
    border: 1px solid #fff;
}

.footer-download-link{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 16px;
}

.footer-downlad-link-appstore{
    height: 20px;
    margin: 4px 0;
}

.footer-downlad-link-googleplay{
    height: 20px;
    margin: 4px 0;
}
