<div class="container">
        <header>

        </header>
        <div>
            <img class="avt" src="images/logo.png" alt="">
            <a href="#"><span>Đặng Quang Nhật Linh</span></a>
        </div>
        <div dir="auto" style="text-align: start;">Hey babi.Do you wanna be mine?</div>
        <div>
            <img class="product" src="images/exam.jpg" alt="">
        </div>
        <span id="comment">Comment</span>
        <div class="Comment">
            <input type="comemt" placeholder="Comment in text...">
            <button>Đăng</button>

        </div>
</div>