<div class="mt-4">
    <footer class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col c-2-4">
                        <h3 class="footor-heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Gna-Shop Mall</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col c-2-4">
                        <h3 class="footor-heading">Về GnA</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Giới thiệu về GnA Việt Nam</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Điều khoản GnA</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col c-2-4">
                        <h3 class="footor-heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Gna-Shop Mall</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col c-2-4">
                        <h3 class="footor-heading">Theo dõi chúng tôi trên</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Facebook</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Instagram</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
</div>